@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 400px;
    height: 260px;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    position: relative;
    @apply text-base;
}

code {
    font-family: "Roboto Mono", monospace;
}

.extension-width {
    width: 400px;
}

.height {
    height: 260px;
}
